<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Light Themes</b></li>
                        <li *ngFor="let theme of lightThemes; index as i" >
                            <a  (click)="changeTheme(theme.name)" 
                                (data-theme)="theme" 
                                class="selector {{theme.name}}-theme {{theme.selected? 'working': null}}">
                                {{i+1}}
                            </a>
                        </li>
                        
                        <li class="d-block m-t-30"><b>Dark Themes</b></li>
                        <li *ngFor="let theme of darkThemes; index as i" >
                            <a  (click)="changeTheme(theme.name)" 
                                (data-theme)="theme" 
                                class="selector {{theme.name}}-theme {{theme.selected? 'working': null}}">
                                {{i+1}}
                            </a>
                        </li>
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
</div>